$navpanel-header-color: #357CA5;
$navpanel-main-color: #222D32;
$navpanel-dark-color: darken($navpanel-main-color, 5%);
$navbar-main-color: #3C8DBC;
$searchbar-color: #374850;


// basic color

$color-white: #FFFFFF;
