$navbar-height: 5rem;
$navpanel-width: 23rem;
$navpanel-width-not-extended: 5rem;
$navpanel-left-right-padding: 1rem;

$navpanel-item-height: 5rem;

$searchbar-border-radius: 0.5rem;

$form-label-width: 20rem;
