.spinner {
  border-width: 1px;
  border-style: solid;
  background: transparent;
  &.loading {
    animation-name: spin;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;  
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg)
  }
}
