:root {
  // so 1rem value = 10px;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  overflow:auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #fdfdfd;
  font-size: 1.4rem;
}

.root {
  min-height: 100vh;
}

h1,
h2 {
  margin: 0;
}
